<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
        <h1>Welcome!</h1>
        <p>Practicas DASN </p>
        <p> Marcial Sánchez Santiago</p>
        <p> Juan Ángel Ruiz Gómez</p>
        <p> Francisco José Martín Soto</p>
        <p><a th:href="@{/privatePanel}">Go to your private page</a></p>
    </body>
</html>